.svg-container-b01 {
  position: absolute;
  left: 950px;
  top: 503px;
  z-index: 0;
}

.svg-container-b01 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b01 path:hover {
  fill: #ffffff;
  transition: fill 0.5s ease;
}

.svg-container-b02 {
  position: absolute;
  left: 925px;
  top: 503px;
  z-index: 1;
}

.svg-container-b02 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b02 path:hover {
  fill: #502628;
  transition: fill 0.5s ease;
}

.svg-container-b03 {
  position: absolute;
  left: 786px;
  top: 503px;
  z-index: 2;
}

.svg-container-b03 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b03 path:hover {
  fill: #ffffff;
  transition: fill 0.5s ease;
}

.svg-container-b04 {
  position: absolute;
  left: 770px;
  top: 503px;
  z-index: 3;
}

.svg-container-b04 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b04 path:hover {
  fill: #333ea5;
  transition: fill 0.5s ease;
}

.svg-container-b05 {
  position: absolute;
  left: 655px;
  top: 503px;
  z-index: 4;
}

.svg-container-b05 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b05 path:hover {
  fill: #4e7dce;
  transition: fill 0.5s ease;
}

.svg-container-b06 {
  position: absolute;
  left: 392px;
  top: 503px;
  z-index: 5;
}

.svg-container-b06 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b06 path:hover {
  fill: #333ea5;
  transition: fill 0.5s ease;
}

.svg-container-b07 {
  position: absolute;
  left: 367px;
  top: 503px;
  z-index: 6;
}

.svg-container-b07 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b07 path:hover {
  fill: #ffffff;
  transition: fill 0.5s ease;
}

.svg-container-b08 {
  position: absolute;
  left: 228px;
  top: 503px;
  z-index: 7;
}

.svg-container-b08 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b08 path:hover {
  fill: #c62a2b;
  transition: fill 0.5s ease;
}

.svg-container-b09 {
  position: absolute;
  left: 212px;
  top: 503px;
  z-index: 8;
}

.svg-container-b09 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b09 path:hover {
  fill: #ffb290;
  transition: fill 0.5s ease;
}

.svg-container-b10 {
  position: absolute;
  left: 97px;
  top: 503px;
  z-index: 9;
}

.svg-container-b10 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b10 path:hover {
  fill: #ffffff;
  transition: fill 0.5s ease;
}

.svg-container-b11 {
  position: absolute;
  left: -96px;
  top: 503px;
  z-index: 10;
}

.svg-container-b11 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b11 path:hover {
  fill: #c62a2b;
  transition: fill 0.5s ease;
}

.svg-container-b12 {
  position: absolute;
  left: -121px;
  top: 503px;
  z-index: 11;
}

.svg-container-b12 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b12 path:hover {
  fill: #ff9500;
  transition: fill 0.5s ease;
}

.svg-container-b13 {
  position: absolute;
  left: -260px;
  top: 503px;
  z-index: 12;
}

.svg-container-b13 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b13 path:hover {
  fill: #ffc72e;
  transition: fill 0.5s ease;
}

.svg-container-b14 {
  position: absolute;
  left: -276px;
  top: 503px;
  z-index: 13;
}

.svg-container-b14 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b14 path:hover {
  fill: #ffc72e;
  transition: fill 0.5s ease;
}

.svg-container-b15 {
  position: absolute;
  left: -391px;
  top: 503px;
  z-index: 14;
}

.svg-container-b15 path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.svg-container-b15 path:hover {
  fill: #0f8440;
  transition: fill 0.5s ease;
}
